@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap" );

*{
  font-family: 'Lobster', cursive;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-edit-btn {
  margin: 0 0 0 2px;
  color: #7BBAFA;
}

.main-delete-btn {
  margin: 0 0 0 2px;
  color: #a895d6;
}

.my-voyages-header {
  margin: 0 0 -4px 10px;
  float: left;
}

.table-filters {
  color: black;
  margin: 10px 5px 0px 0px;
  float: right;
}

.sort-by {
  color: #5ebeff;
  margin: 0px 0px 0px 20px;
  float: left;
}

.sort-by--table {
  font-size: 26px;
  width: 120px;
  margin: 0px 0px 0px 20px;
  float: left;
}

.sort-by-region {
  color: #5ebeff;
  margin: 0px 0px 0px 20px;
  float: left;
}

.sort-by-region--table {
  font-size: 26px;
  width: 210px;
  margin: 0px 0px 0px 20px;
  float: left;
}

.table-filters-first {
  color: black;
  margin: 10px 15px 0px 0px;
  float: right;
}

.navbar {
  background-color: #e3f2fd;
}

.navbar-brand {
  font-size: 28px;
}

.select-box--container {
  height: 30px;
  border: 1px solid #aaa;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.select-box--box {
  width: 180px;
  position: absolute;
  left: 0;
}

.select-box--arrow {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  background: #aaa;
  position: absolute;
  right: 0;
  top: 0;
}

.select-box--selected-item {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 4px 12px;
  vertical-align: middle;
}

.select-box--items div {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 6px;
  padding-left: 20px;
}

.select-box--items div.selected {
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 2px 8px;
}

.select-box--items div:hover {
  background-color: #eee;
}

.select-box--arrow-down {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
}

.select-box--arrow-up {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
}

.form-control {
  margin: -10px 0 0 0;
}

.header-footer {
  margin: 0 0 10px 0;
}

#Popover1 {
  margin: 0 0 20px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
